<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assessment_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @assessment_type.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @assessment_type.year %>
</p>

<%= link_to 'Edit', edit_assessment_type_path(@assessment_type) %> |
<%= link_to 'Back', assessment_types_path %>
