<p id="notice"><%= notice %></p>

<h1>Assessment Units</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Year</th>
      <th>Assessment subtype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assessment_units.each do |assessment_unit| %>
      <tr>
        <td><%= assessment_unit.name %></td>
        <td><%= assessment_unit.description %></td>
        <td><%= assessment_unit.year %></td>
        <td><%= assessment_unit.assessment_subtype %></td>
        <td><%= link_to 'Show', assessment_unit %></td>
        <td><%= link_to 'Edit', edit_assessment_unit_path(assessment_unit) %></td>
        <td><%= link_to 'Destroy', assessment_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assessment Unit', new_assessment_unit_path %>
