<p id="notice"><%= notice %></p>

<h1>Template Sublayouts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Section num</th>
      <th>Input type</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @template_sublayouts.each do |template_sublayout| %>
      <tr>
        <td><%= template_sublayout.name %></td>
        <td><%= template_sublayout.description %></td>
        <td><%= template_sublayout.section_num %></td>
        <td><%= template_sublayout.input_type %></td>
        <td><%= template_sublayout.year %></td>
        <td><%= link_to 'Show', template_sublayout %></td>
        <td><%= link_to 'Edit', edit_template_sublayout_path(template_sublayout) %></td>
        <td><%= link_to 'Destroy', template_sublayout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Template Sublayout', new_template_sublayout_path %>
