<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rubric.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rubric.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @rubric.year %>
</p>

<p>
  <strong>Assessment type:</strong>
  <%= @rubric.assessment_type %>
</p>

<%= link_to 'Edit', edit_rubric_path(@rubric) %> |
<%= link_to 'Back', rubrics_path %>
